.weather__container {
  color: white;
}

.weather--temp {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 0.5rem 0;
}

.weather--city {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0.5rem 0 0.2rem 0;
}

.weather--description {
  text-transform: capitalize;
}

.line {
  background-color: #353535;
  height: 4px;
  margin: 1.5rem auto;
  width: 100px;
}

.weather--humwind {
  margin-top: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather--humwind span {
  margin-left: 0.3rem;
}
